*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: linear-gradient(35deg, orange, 70%, red);
    height: 100vh;
    overflow-x: hidden;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1px 10%;
}

section{
    padding: 10rem 9% 2rem;
    height: 100vh;
    width: 100%;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.historia{
    background: linear-gradient(30deg, orange 76%, red 24%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.historia h2{
    border-bottom: 4px solid orange;
    color: #fff;
    font-size: 35px;
}

.historia p{
    position: relative;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    top: 4rem;
    width: 850px;
}

.guerreiros{
    display: flex;
    justify-content: space-between;
}

#goku{
    background: linear-gradient(135deg, orange 50%, #00bfff 50%);
}

#vegeta{
    background: linear-gradient(45deg, #4169e1 50%, red 50%);
}

#gohan{
    background: linear-gradient(135deg, rgb(15, 42, 192) 50%, yellow 50%);
}

#piccolo{
    background: linear-gradient(45deg, purple 50%, #556b2f 50%);
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.info h1{
    border-bottom: 4px solid #fff;
    color: #fff;
    font-size: 35px;
}

.info p{
    position: relative;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    top: 4rem;
    width: 600px;
}


.home .imagens_1 img{
    height: 400px;
    position: absolute;
    transform: translateX(-150%);
    animation: entrada 0.5s ease forwards, movimento 3s ease infinite;
}

@keyframes entrada{
    0%{
        scale: 0;
    }
    100%{
        scale: 1;
    }
}

@keyframes movimento{
    0%,100%{
        transform: translateY(0) translateX(-150%);
    }
    50%{
        transform: translateY(-8px) translateX(-150%);
    }
}

.home .imagens_1 img:nth-child(2){
    left: 65px;
    z-index: -2;
    scale: 0;
    animation-delay: 0.3s;
}

.home .imagens_1 img:nth-child(3){
    scale: 0;
    animation-delay: 0.6s;
    left: 35px;
    z-index: -3;
    height: 440px;
}

.home .imagens_1 img:nth-child(4){
    scale: 0;
    animation-delay: 1s;
    left: 27px;
    z-index: -4;
    bottom: -140px;
}

.home .imagens_1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagens_1{
    transform: translateY(50px);
}

.home .texto{
    max-width: 600px;
}

.home .texto h2{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 550;
    color: #fff;
}

.home .texto p{
    font-size: 20px;
    color: #fff;
}

.logo img{
    width: 160px;
    height: 160px;
    transition: .5s;
}

.logo img:hover{
    filter: saturate(3);
    transform: scale(1.05);
}

nav a{
    font-weight: 700;
    position: relative;
    color: #fff;
    font-size: 21px;
    margin-left: 30px;
    z-index: 10;
}

nav a::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: -100%;
    transition: .3s ease;
    border-bottom:3px solid orange;
    opacity: 0;
    z-index: -1;
}

nav a:hover::before{
    top: 0;
    opacity: 1;
}